@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  font-style: normal;
  background-color: #fafafa;
  color: #212121;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

input {
  font-family: inherit;
  outline: transparent;
}

textarea {
  font-family: inherit;
  outline: transparent;
}

button {
  font-family: inherit;
  color: currentColor;
  border: none;
}