.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

label:last-of-type {
    margin-bottom: 16px;
}

input {
    max-width: 360px;
}

button {
    width: 86px;
}